// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Copyright (C) 2016 Freescale Semiconductor, Inc.

/dts-v1/;

#include "imx6ull.dtsi"
#include "imx6ul-14x14-evk.dtsi"

/ {
	model = "Freescale i.MX6 UltraLiteLite 14x14 EVK Board";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL3_PFD2>;
	assigned-clock-rates = <320000000>;
};

&lcdif {
    display = <&display0>;
    status = "okay";

    display0: display0 {
        bits-per-pixel = <16>;
        bus-width = <18>;

        display-timings {
            native-mode = <&timing0>;
            timing0: timing0 {
                clock-frequency = <28000000>;
                hactive = <800>;
                vactive = <480>;
                hfront-porch = <30>;
                hback-porch = <30>;
                hsync-len = <64>;
                vback-porch = <5>;
                vfront-porch = <5>;
                vsync-len = <20>;
                hsync-active = <0>;
                vsync-active = <0>;
                de-active = <1>;
                pixelclk-active = <0>;
            };
        };
    };
};

&ecspi2 {
    status = "okay";

    // 定义 CPLD I2C 设备
    cpld_spi: cpld@0 {
        compatible = "wanguo,cpld-spi";
        reg = <0>;
        status = "okay";
    };
};

&i2c2 {
    status = "okay";

    // 定义 CPLD I2C 设备
    cpld_i2c: cpld@20 {
        compatible = "wanguo,cpld-i2c";
        reg = <0x20>; // I2C 地址
        status = "okay";
    };
};
